<h1> This is Header</h1>
<body>
<!-- <nav>  
  <a [routerLink]="['/EmployeeList', true]" routerLinkActive="active" *ngIf="ISEmloyeeList!=true">Show Employee List from home page</a>
</nav> -->

<!-- <app-common (employeeListLoadedEvent)=OnEmployeeListLoad($event) ></app-common> -->

<nav>
    <a [routerLink]="['/EmployeeList', true]" [style.visibility]="isDisabled ? 'hidden': 'visible'" 
      >Show Employee List from home page</a>
</nav>

<router-outlet (activate)='onActivate($event)' ></router-outlet>

<!-- <app-emp-list  (employeeListLoadedEvent)="isDisabled=$event"></app-emp-list> -->

</body>

<h1> This is Footer</h1>